@font-face {
    font-family: 'Larsseit';
    src: url("../font/Larsseit.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.body{
background: #ffffff;;
}
.wrapper {
position: relative;
width: 1440px;
height: 5900px;
background: #FFFFFF;
margin: auto;
padding-top: 17px;
}
ul .nav{
text-decoration: none;
list-style: none;
justify-content: center;
}

.nav li{
position: absolute;
display: inline;
font-family: 'Larsseit';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #22356F;
}

a{
text-decoration: none;
}

.nav li:nth-child(1){
    margin-left: 555px;
}
.nav li:nth-child(2){
    margin-left: 614px;
}
.nav li:nth-child(3){
    margin-left: 673px;
}
.nav li:nth-child(4){
    margin-left: 745px;
}

.nav li:hover{
text-decoration: underline;
}

#thrivetalk{
position: absolute;
width: 484px;
height: 27px;
left: 179px;
top: -1px;
font-family: 'Larsseit';
font-size: 24px;
line-height: 27px;
color: #62D0DF;
}
.contact{
position: absolute;
width: 150px;
height: 50px;
left: 1159px;
top: 27px;
background: #62D0DF;
border-radius: 50px;
}
.blue-ellipse{
    position: absolute;
    top: 0px;
    left: 838px;
}
.yellow-rect{
position: absolute;
width: 1117px;
height: 843px;
left: 0px;
top: 0px;
background: #F4F9E2;
}
#thrivetalk-l{
position: absolute;
width: 484px;
height: 64px;
left: 179px;
top: 200px;
font-family: 'Larsseit';
font-size: 24px;
line-height: 27px;
color: #62D0DF;
}
#helping{
position: absolute;
width: 484px;
height: 167px;
left: 179px;
top: 290px;

font-family: 'Larsseit';
font-size: 48px;
line-height: 53px;
color: #22356F;
}
#l-text-help{
position: absolute;
width: 469px;
height: 161px;
left: 179px;
top: 500px;

font-family: 'Larsseit';
font-size: 24px;
line-height: 42px;
color: #22356F;
}
.button-who{
position: absolute;
width: 150px;
height: 50px;
left: 179px;
top: 730px;

background: #F9B640;
}
#wai{
position: absolute;
width: 90px;
height: 29px;
left: 209px;
top: 725px;

font-family: 'Larsseit';
font-size: 16px;
line-height: 23px;
display: flex;
align-items: center;
letter-spacing: 0.1em;

color: #FFFFFF;
}
#wdid{
position: absolute;
width: 150px;
height: 43px;
left: 367px;
top: 718px;

font-family: 'Larsseit';
font-size: 16px;
line-height: 23px;
display: flex;
align-items: center;
letter-spacing: 0.1em;

color: #FAB63E;
}
#contact-us{
    position: absolute;
width: 90px;
height: 11px;
left: 1193px;
top: 33px;

font-family: 'Larsseit';
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #FFFFFF;
}
.photo-wrap{
position: absolute;
left: 800px;
top: 40px;
}
.cyan-rect{
position: absolute;
width: 1437px;
height: 604px;
left: 0px;
top: 842px;
background: #62D0DF;
}
.c-rect-ph{
position: absolute;
left: 915px;
top: 842px;
}
#wt{
position: absolute;
width: 223px;
height: 51px;
left: 179px;
top: 993px;

font-family: 'Larsseit';
font-size: 36px;
line-height: 27px;
letter-spacing: -0.006em;

color: #FFFFFF;
}
#wt-l{
position: absolute;
left: 179px;
top: 1090px;
font-family: 'Larsseit';
font-size: 24px;
line-height: 35px;
color: #FFFFFF;
}
#about-us{
position: absolute;
width: 93px;
height: 210px;
left: 106px;
top: 1602px;

font-family: 'Larsseit';
font-size: 16px;
line-height: 23px;
letter-spacing: 0.06em;

color: #22356F;

}
#text-ab{
position: absolute;
width: 592px;
height: 210px;
left: 450px;
top: 1596px;

font-family: 'Larsseit';
font-size: 24px;
line-height: 34px;
letter-spacing: 0.005em;

color: #22356F;
}
#w-c-h-u{
position: absolute;
left: 620px;
top: 1870px;

font-family: 'Larsseit';
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.06em;

color: rgba(34, 53, 111, 0.5);
}

.pink{
position: absolute;
width: 360px;
height: 360px;
left: 0px;
top: 1927px;

background: #FFE2DE;
}
.green{
position: absolute;
width: 360px;
height: 360px;
left: 360px;
top: 1927px;

background: #C4E769;
}
.cyan{
position: absolute;
width: 360px;
height: 360px;
left: 720px;
top: 1927px;

background: #62D0DF;
}
.blue{
position: absolute;
width: 360px;
height: 360px;
left: 1078px;
top: 1927px;

background: #0052C1;
}
.line-p{
position: absolute;
width: 255px;
height: 72px;
left: 52.5px;
top: 1927px;

background: #FFE2DE;
box-shadow: inset 0px -1px 0px #FFFFFF;
}
.line-g{
    position: absolute;
width: 255px;
height: 72px;
left: 412.5px;
top: 1927px;

background: #C4E769;
box-shadow: inset 0px -1px 0px #FFFFFF;
}
.line-c{
position: absolute;
width: 255px;
height: 72px;
left: 772.5px;
top: 1927px;

background: #62D0DF;
box-shadow: inset 0px -1px 0px #FFFFFF;
}
.line-b{
position: absolute;
width: 255px;
height: 72px;
left: 1130.5px;
top: 1927px;

background: #0052C1;
box-shadow: inset 0px -1px 0px #FFFFFF;
}
.e-p{
position: absolute;
left: 54px;
top: 2034.25px;
}
.e-g{
position: absolute;
left: 414px;
top: 2034.25px; 
}
.e-c{
position: absolute;
left: 774px;
top: 2034.25px  
}
.e-b{
position: absolute;
left: 1132px;
top: 2034.25px;
}

#text-p{
position: absolute;
width: 232px;
height: 54px;
left: 78px;
top: 1990px;

font-family: 'Larsseit';
font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;

color: #FFFFFF;
}
#text-g{
position: absolute;
width: 230px;
height: 54px;
left: 438px;
top: 1990px;

font-family: 'Larsseit';
font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;

color: #FFFFFF;  
}
#text-c{
position: absolute;
width: 218px;
height: 54px;
left: 798px;
top: 1990px;

font-family: 'Larsseit';
font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;

color: #FFFFFF;   
}
#text-b{
position: absolute;
width: 214px;
height: 54px;
left: 1156px;
top: 1990px;

font-family: 'Larsseit';
font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;

color: #FFFFFF;  
}

.dark-blue{
position: absolute;
width: 480px;
height: 480px;
left: 0px;
top: 2407px;

background: #22356F;
}
.light-blue{
position: absolute;
width: 480px;
height: 480px;
left: 480px;
top: 2407px;

background: #0052C1;
}
.strawberry{
position: absolute;
left: 960px;
top: 2407px;
}
.cyan2{
position: absolute;
width: 480px;
height: 480px;
left: 0px;
top: 2887px;

background: #62D0DF;
}
.light-pink{
position: absolute;
width: 480px;
height: 480px;
left: 480px;
top: 2887px;

background: #DEE1FF;
}
.purple{
position: absolute;
width: 480px;
height: 480px;
left: 960px;
top: 2887px;

background: #8F00FF;
}

.line-db{
position: absolute;
width: 340px;
height: 96px;
left: 70px;
top: 2407px;

background: #22356F;
box-shadow: inset 0px -1px 0px #FFFFFF;  
}
.line-lb{
position: absolute;
width: 340px;
height: 96px;
left: 550px;
top: 2407px;

background: #0052C1;
box-shadow: inset 0px -1px 0px #FFFFFF;
}
.line-s{
position: absolute;
width: 340px;
height: 2px;
left: 1030px;
top: 2501px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px #FFFFFF;
}
.line-c2{
position: absolute;
width: 340px;
height: 96px;
left: 70px;
top: 2887px;

background: #62D0DF;
box-shadow: inset 0px -1px 0px #FFFFFF;   
}
.line-lp{
position: absolute;
width: 340px;
height: 96px;
left: 550px;
top: 2887px;

background: #DEE1FF;
box-shadow: inset 0px -1px 0px #FFFFFF;
}
.line-p1{
position: absolute;
width: 340px;
height: 96px;
left: 1030px;
top: 2887px;

background: #8F00FF;
box-shadow: inset 0px -1px 0px #FFFFFF; 
}

.e-db{
position: absolute;
left: 72px;
top: 2550px; 
}
.e-lb{
position: absolute;
left: 552px;
top: 2550px;
   
}
.e-s{
position: absolute;
width: 12px;
height: 12px;
left: 1032px;
top: 2550px;   
}
.e-c2{
position: absolute;
left: 72px;
top: 3030px; 
}
.e-lp{
position: absolute;
left: 552px;
top: 3030px;    
}
.e-p1{
position: absolute;
left: 1032px;
top: 3030px;    
}

#text-db{
position: absolute;
width: 157px;
height: 72px;
left: 104px;
top: 2510px;

font-family: 'Larsseit';
font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;

color: #FFFFFF;
   
}
#text-lb{
position: absolute;
width: 157px;
height: 72px;
left: 584px;
top: 2510px;

font-family: 'Larsseit';
font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;

color: #FFFFFF;    
}
#text-s{
position: absolute;
width: 157px;
height: 72px;
left: 1064px;
top: 2510px;

font-family: 'Larsseit';
font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;

color: #FFFFFF;    
}
#text-c2{
position: absolute;
width: 206px;
height: 72px;
left: 104px;
top: 2988px;

font-family: 'Larsseit';
font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;

color: #FFFFFF;  
}
#text-lp{
position: absolute;
width: 157px;
height: 72px;
left: 584px;
top: 2988px;

font-family: 'Larsseit';
font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;

color: #FFFFFF;   
}
#text-p1{
position: absolute;
width: 157px;
height: 72px;
left: 1064px;
top: 2988px;

font-family: 'Larsseit';
font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;

color: #FFFFFF;   
}



#np{
position: absolute;
left: 105px;
right: 29.38%;
top: 3450px;
bottom: 62.08%;

font-family: 'Larsseit';
font-size: 28px;
line-height: 33px;
letter-spacing: -0.03em;

color: #22356F;
}
#wl{
position: absolute;
left: 680px;
right: 29.38%;
top: 3450px;
bottom: 62.08%;

font-family: 'Larsseit';
font-size: 28px;
line-height: 33px;
letter-spacing: -0.03em;

color: #22356F;
}

#mp{
position: absolute;
left: 1150px;
top: 3450px;
bottom: 62.08%;

font-family: 'Larsseit';
font-size: 28px;
line-height: 33px;
letter-spacing: -0.03em;

color: #22356F;
}
#ht{
position: absolute;
left: 105px;
right: 29.38%;
top: 3640px;
bottom: 62.08%;

font-family: 'Larsseit';
font-size: 28px;
line-height: 33px;
letter-spacing: -0.03em;

color: #22356F;
}
#wlb{
position: absolute;
left: 680px;
right: 29.38%;
top: 3640px;
bottom: 62.08%;

font-family: 'Larsseit';
font-size: 28px;
line-height: 33px;
letter-spacing: -0.03em;

color: #22356F;
}
#cardio{
position: absolute;
left: 1150px;
right: 29.38%;
top: 3640px;
bottom: 62.08%;

font-family: 'Larsseit';
font-size: 28px;
line-height: 33px;
letter-spacing: -0.03em;

color: #22356F;
}

.mdd_photo{
position: absolute;
left: 0px;
top: 3909px; 
}

.dark-blue-rect{
position: absolute;
width: 1440px;
height: 800px;
left: 0px;
top: 4709px;

background: #22356F;
}
.charles{
position: absolute;
left: 960px;
top: 4709px;
}
#np-t{
position: absolute;
left: 105px;
right: 16.04%;
top: 3510px;
bottom: 15.42%;

font-family: 'Larsseit';
font-size: 16px;
line-height: 25px;
letter-spacing: -0.03em;

color: rgba(34, 53, 111, 0.5);
}
#wl-t{
position: absolute;
left: 680px;
right: 16.04%;
top: 3510px;
bottom: 15.42%;

font-family: 'Larsseit';
font-size: 16px;
line-height: 25px;
letter-spacing: -0.03em;

color: rgba(34, 53, 111, 0.5);
}
#mp-t{
position: absolute;
left: 1150px;
top: 3510px;
bottom: 15.42%;

font-family: 'Larsseit';
font-size: 16px;
line-height: 25px;
letter-spacing: -0.03em;

color: rgba(34, 53, 111, 0.5);
}
#ht-t{
position: absolute;
left: 105px;
right: 16.04%;
top: 3700px;
bottom: 15.42%;

font-family: 'Larsseit';
font-size: 16px;
line-height: 25px;
letter-spacing: -0.03em;

color: rgba(34, 53, 111, 0.5);
}
#wlb-t{
position: absolute;
left: 680px;
right: 16.04%;
top: 3700px;
bottom: 15.42%;

font-family: 'Larsseit';
font-size: 16px;
line-height: 25px;
letter-spacing: -0.03em;

color: rgba(34, 53, 111, 0.5);
}
#cardio-t{
position: absolute;
left: 1150px;
top: 3700px;
bottom: 15.42%;

font-family: 'Larsseit';
font-size: 16px;
line-height: 25px;
letter-spacing: -0.03em;

color: rgba(34, 53, 111, 0.5);
}
#also-know{
position: absolute;
left: 586px;
top: 4012px;

font-family: 'Larsseit';
font-size: 16px;
line-height: 12px;
letter-spacing: 0.06em;

color: #22356F;
}
#mdd-t{
position: absolute;
width: 676px;
height: 215px;
left: 586px;
top: 4257px;

font-family: 'Larsseit';
font-size: 36px;
line-height: 53px;
letter-spacing: -0.01em;

color: #22356F;
}
#get-help{
position: absolute;
left: 586px;
top: 4624px;

font-family: 'Larsseit';
font-size: 16px;
line-height: 23px;
display: flex;
align-items: center;
letter-spacing: 0.1em;

color: #FAB63E;
}
#contact-us-end{
position: absolute;
left: 180px;
top: 4812px;

font-family: 'Larsseit';
font-size: 16px;
line-height: 12px;
letter-spacing: 0.06em;

color: #FFFFFF;
}
#RSS{
position: absolute;
left: 180px;
top: 4950px;

font-family: 'Larsseit';
font-size: 64px;
line-height: 94px;
letter-spacing: -0.01em;

color: #FFFFFF;
}
#RSS-text{
position: absolute;
left: 180px;
top: 5125px;

font-family: 'Larsseit';
font-size: 36px;
line-height: 53px;
letter-spacing: -0.005em;

color: #FFFFFF;
}
#get-help-now{
position: absolute;
width: 518px;
height: 43px;
left: 180px;
top: 5380px;

font-family: 'Larsseit';
font-size: 16px;
line-height: 23px;
display: flex;
align-items: center;
letter-spacing: 0.1em;

color: #62D0DF
}
.autumn-goodman{
position: absolute;
left: 0px;
top: 5509px;
}

.cyan-end-rect{
position: absolute;
width: 1443px;
height: 80px;
left: 0px;
top: 5889px;

background: #62D0DF;
transform: matrix(1, 0, 0, -1, 0, 0);
}
#copyright{
position: absolute;
left: 179px;
top: 5911px;

font-family: 'Larsseit';
font-size: 14px;
line-height: 11px;
letter-spacing: -0.006em;

color: #FFFFFF;
}
#some-info{
position: absolute;
width: 240px;
height: 48px;
left: 638px;
top: 5607px;

font-family: 'Larsseit';
font-size: 14px;
line-height: 11px;
letter-spacing: -0.006em;

color: #22356F;
}
#enfold-health{
position: absolute;
width: 240px;
height: 48px;
left: 901px;
top: 5607px;

font-family: 'Larsseit';
font-size: 14px;
line-height: 11px;
letter-spacing: -0.006em;

color: #22356F;
}
#office-hours{
position: absolute;
width: 240px;
height: 48px;
left: 1163px;
top: 5607px;

font-family: 'Larsseit';
font-size: 14px;
line-height: 11px;
letter-spacing: -0.006em;

color: #22356F;
}

#some-info-t{
position: absolute;
width: 207px;
height: 115px;
left: 638px;
top: 5675px;

font-family: 'Larsseit';
font-size: 14px;
line-height: 23px;
letter-spacing: -0.006em;

color: rgba(34, 53, 111, 0.5);
}
#enfold-health-t{
position: absolute;
width: 240px;
height: 115px;
left: 901px;
top: 5675px;

font-family: 'Larsseit';
font-size: 14px;
line-height: 23px;
letter-spacing: -0.006em;

color: rgba(34, 53, 111, 0.5);
}
#office-hours-t{
position: absolute;
width: 240px;
height: 115px;
left: 1163px;
top: 5675px;

font-family: 'Larsseit';
font-size: 14px;
line-height: 23px;
letter-spacing: 0.01em;

color: rgba(34, 53, 111, 0.5);
}

#tt-in-text{
    color: #6CD3E1;
}